name: Gradle Test

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Setup Just
        uses: extractions/setup-just@v3
      - name: Setup Go 1.25.x
        uses: actions/setup-go@v4
        with:
          go-version: "1.24.x"
          cache-dependency-path: |
            backend/go.sum
      - name: Run Gosec Security Scanner
        run: | # https://github.com/securego/gosec/issues/469
          cd backend
          export PATH=$PATH:$(go env GOPATH)/bin
          go install github.com/securego/gosec/v2/cmd/gosec@latest
          gosec ./...
      - name: Run govulncheck
        run: |
          cd backend
          export PATH=$PATH:$(go env GOPATH)/bin
          go install golang.org/x/vuln/cmd/govulncheck@latest
          govulncheck ./...
      - name: Run golangci-lint
        run: |
          cd backend
          export PATH=$PATH:$(go env GOPATH)/bin
          go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@latest
          golangci-lint run ./...
      - name: Run goimports
        run: |
          cd backend
          export PATH=$PATH:$(go env GOPATH)/bin
          go install golang.org/x/tools/cmd/goimports@latest
          goimports -w .
      - name: Run tests
        run: just build
